@Scripts.Render(Bundles.Scripts.MyCashFlow.Models.Shared)
@Scripts.Render(Bundles.Scripts.MyCashFlow.Models.Transaction)
@Scripts.Render(Bundles.Scripts.MyCashFlow.Handlers)

<div data-bind="if: view() === 'Index'">
	@Html.Partial(MVC.Transaction.Views._Index)
</div>